name: Terraform Plan

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    terraform:
        name: Terraform Validation & Plan
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./terraform

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.6.6

            - name: Terraform Init
              run: terraform init

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
<<<<<<< HEAD
              run: terraform plan
=======
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
              run: terraform plan

            - name: Debug AWS Env (Safe)
              run: |
                  echo "AWS_ACCESS_KEY_ID is set ${AWS_ACCESS_KEY_ID:+YES}"
                  echo "AWS_SECRET_ACCESS_KEY is set ${AWS_SECRET_ACCESS_KEY:+YES}"
                  echo "AWS_DEFAULT_REGION ${AWS_DEFAULT_REGION}"
>>>>>>> dce39fd (Add README, Terraform configuration, variables, and CI workflow)
