name: Terraform Plan

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    terraform:
        name: Terraform Validation & Plan
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./terraform

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.6.6

            - name: Terraform Init
              run: terraform init

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
              run: terraform plan
